  @font-face{
            font-family:GretaTextArabicBold;
            src:url(../fonts/GretaTextArabicBold.ttf);
            font-style:normal;

        }
        @font-face{
            font-family:dthuluth2;
            src:url(../fonts/dthuluth2.ttf);
            font-style:normal;

        }
        html, body {
            background-color: #fff;
            color:black;
            font-family:GretaTextArabicBold;
            font-size: 25px;
            padding-bottom: 50px;


        }
        .styleinput{
            border-radius: 20px;
            margin: 10px;
            text-align: center;

        }
        th{
            text-align: center;
        }


        .title {
            font-size: 60px;
            text-align: center;

        }
        .bg1{
            background-color: #f9f9f9;
        }
